section.footer
  .container
    .footer__item
      ul.no-style.color-white
        li #[a(target='_blank', href='https://github.com/chriso2014') Gulp]
        li #[a(target='_blank', href='https://github.com/chriso2014') Bower]
        li #[a(target='_blank', href='https://github.com/chriso2014') Node.js]

    .footer__item
      ul.no-style.color-white
        li #[a(target='_blank', href='https://github.com/chriso2014') SASS]
        li #[a(target='_blank', href='https://github.com/chriso2014') Bourbon]
        li #[a(target='_blank', href='https://github.com/chriso2014') Neat]
    .footer__item.color-white
      p Built by #[a(target='_blank', href='https://github.com/chriso2014') Chris Ormerod]
